* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-backround);
}

:root {
  --dark-backround: #191918;
  --dark-logo-text: #7c7b74;
  --dark-text: #b5b3ad;
  --dark-interactive-bg: #31312e;
  --dark-special: #494844;
}

nav {
  background-color: var(--dark-backround);
  max-height: 3.813rem;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
}

h1 {
  font-family: "Lora", serif;
  color: var(--dark-logo-text);
  padding: 12px 0 13px 51px;
  font-weight: 300;
}

.nav-list {
  width: 100%;
  margin-left: 0;
  color: var(--dark-text);
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list-item {
  width: 100%;
  height: 3.125rem;
  background-color: var(--dark-interactive-bg);
  border-bottom: var(--dark-logo-text) solid 0.4px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.nav-list-item span {
  color: var(--dark-text);
  font-family: "Lato", sans-serif;
}

.nli-st {
  margin-top: 1.125rem;
}

.collapsible-content {
  transition: max-height 0.3s ease-in-out, width 0.3s ease-in-out; /* Added width transition */
  margin-top: 2.3rem;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
}

.collapsible-expanded {
  max-height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 0;
  position: fixed;
  left: 0;
}

.collapsible-expanded .collapsible-content {
  max-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
}

.menu-icon {
  position: absolute;
  right: 0;
  right: 1rem;
  width: 30px;
  height: 30px;
  background-color: var(--dark-backround);
  border: none;
  margin: 0.8rem 0 0 17.5rem;
  display: block;
  cursor: pointer;
}

.home-text {
  margin-top: 37px;
  margin-left: 50px;
}

.home-text span {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: var(--dark-text);
  font-size: 48px;
}

.home-text .home-text-special {
  font-weight: 400;
  color: var(--dark-special);
}

.rent-box-button {
  display: flex;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
}

.home-button {
  width: 259px;
  height: 70px;
  border: none;
  border-radius: 6px;
  background-color: var(--dark-interactive-bg);
  cursor: pointer;
}

.home-button-text {
  color: var(--dark-text);
  font-size: 40px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 200;
}
